<div class="bg-gray-200 py-12 px-8 md:px-16 lg:px-32 text-gray-700">
    <div class="flex flex-col md:flex-row justify-between items-start space-y-8 md:space-y-0">
      
      <div class="space-y-3">
        <h2 class="text-3xl font-bold text-teal-600  mb-4">Logo</h2>
        <p class="text-lg"><strong>Location:</strong> Isr Street girl awam juim</p>
        <p class="text-lg"><strong>Contact:</strong> +9 5555559909</p>
        <p class="text-lg"><strong>Time:</strong> (9am - 5pm EST, Monday - Friday)</p>
        <p><strong>Email:</strong> youme&#64;Rule.com</p>
      </div>
  
      
      <div class="space-y-3">
        <h3 class="text-xl font-bold text-gray-900 mb-4">Company</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-lg hover:text-gray-900">Case Studies</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Case Details</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Privacy Policy</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Services</a></li>
        </ul>
      </div>

      <div class="space-y-3">
        <h3 class="text-xl font-bold text-gray-900 mb-4">Explore</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-lg hover:text-gray-900">About Us</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Blog And News</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Blog Details</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Pricing</a></li>
        </ul>
      </div>

      <div class="space-y-3">
        <h3 class="text-xl font-bold text-gray-900 mb-4">Insurance</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-lg hover:text-gray-900">Health Insurance</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Car Insurance</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Business Insurance</a></li>
          <li><a href="#" class="text-lg hover:text-gray-900">Life Insurance</a></li>
        </ul>
      </div>
    </div>
  </div>
  